body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #ccdff3;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main .hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #edcca7;
    color: #fff;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #edef9a;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
}
